# CONFIG {{ listen_config.config }} START
{% if listen_config.ex %}
    # EX GATEWAY START
    server {
    {% include 'basic_ex.jinja' %}
    }
    # EX GATEWAY END
{% endif %}
{% if listen_config.geo_white or listen_config.geo_black %}
    # GEO START
    geo $http_x_forwarded_for $user_type_{{ listen_config.i }} {
        {% include 'basic_location_geo_map.jinja' %}
    }
    # GEO END
{% endif -%}
server {
    set                 $dest_port  0;
    server_name         {{ listen_config.listen_host }};
    {% if not listen_config.ex %}
        {% include 'basic_listen_ex.jinja' %}
    {% else %}
        {% include 'basic_listen.jinja' %}
    {% endif %}
    ssl_verify_client   off;
    {% include 'basic_client_size.jinja' %}
    {% include 'basic_dns.jinja' %}
    {% include 'basic_header.jinja' %}
    {% include 'basic_echo.jinja' %}
    {% include 'basic_location_for.jinja' %}
}
# CONFIG {{ listen_config.config }} END