set                     $dest_host          "#internal-server#";
set                     $full_url           "http://127.0.0.1:8000/";
proxy_set_header        Host ${http_host};
proxy_set_header        Upgrade             $http_upgrade;
proxy_set_header        Connection          $proxy_connection;
proxy_ssl_server_name   on;
proxy_pass              http://127.0.0.1:8000/;
proxy_redirect          default;
