{% if listen_config.header %}
    # HEADER START
    {% for header in listen_config.header.split(";") %}
        add_header {{ header.partition("=")[0] }} "{{ header.partition("=")[-1] }}" always;
    {% endfor %}
    # HEADER END
{% endif %}