user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;

events {
    worker_connections  10240;
}
http {
  resolver              {{ dns }} valid=60s ipv6=off;
  include               /etc/nginx/mime.types;
  default_type          application/octet-stream;
  log_format    main    '$remote_addr $http_host $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for" [Proxy-pass=$upstream_addr @ $dest_host] $full_url';

  proxy_cache_path      /var/cache/nginx use_temp_path=off keys_zone=default_cache:10m;
  access_log            /var/log/nginx/access.log  main;
  sendfile              on;
  #tcp_nopush           on;
  charset               'utf-8';
  keepalive_timeout     65;
  # If we receive X-Forwarded-Proto, pass it through; otherwise, pass along the
  # scheme used to connect to this server
  map $http_x_forwarded_proto $proxy_x_forwarded_proto {
    default $http_x_forwarded_proto;
    ''      $scheme;
  }
  # If we receive X-Forwarded-Port, pass it through; otherwise, pass along the
  # server port the client connected to
  map $http_x_forwarded_port $proxy_x_forwarded_port {
    default $http_x_forwarded_port;
    ''      $server_port;
  }
  # If we receive Upgrade, set Connection to "upgrade"; otherwise, delete any
  # Connection header that may have been passed to this server
  map $http_upgrade $proxy_connection {
    default upgrade;
    '' close;
  }
  # Set appropriate X-Forwarded-Ssl header based on $proxy_x_forwarded_proto
  map $proxy_x_forwarded_proto $proxy_x_forwarded_ssl {
    default off;
    https on;
  }
  gzip_types text/plain text/css application/javascript application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
  # HTTP 1.1 support
  proxy_http_version    1.1;
  proxy_buffering       off;
  proxy_set_header      Host $http_host;
  proxy_set_header      Upgrade $http_upgrade;
  proxy_set_header      Connection $proxy_connection;
  proxy_set_header      X-Real-IP $remote_addr;
  proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header      X-Forwarded-Proto $proxy_x_forwarded_proto;
  proxy_set_header      X-Forwarded-Ssl $proxy_x_forwarded_ssl;
  proxy_set_header      X-Forwarded-Port $proxy_x_forwarded_port;
  proxy_set_header      Proxy "";

  client_max_body_size      {{ client_size }};
  client_header_timeout     1m;
  client_body_timeout       1m;
  proxy_connect_timeout     60s;
  proxy_read_timeout        1m;
  proxy_send_timeout        1m;

  server {
    server_name _;
    access_log off;
    location / {
      proxy_pass http://127.0.0.1:82;
      proxy_redirect http://internal {{ external_proto }}://{{ external_host }};
    }
  }
{% if not disable_proxy %}
{% filter indent(2) %}{% include 'proxy.jinja' %}{% endfilter %}
{% endif %}
  # UPSTREAM START
{%- for listen_config in listen_config_list %}
  upstream LISTEN_{{ loop.index }} {
    # for {{ listen_config.config }}
    server {{ listen_config.host }}:{{ listen_config.port }};
  }
{% endfor %}
  # UPSTREAM END
  # LISTEN START
  {% filter indent(2) %}{% include 'basic.jinja' %}{% endfilter %}
  # LISTEN END
  # REDIRECT START
{%- for redirect_config in redirect_config_list %}
{%- if redirect_config.mode == "normal" %}
  server {
    listen      {{ redirect_config.listen_port }};
    server_name {{ redirect_config.host }};
    location / {
      set $full_url   "{{ redirect_config.url2 }}$request_uri";
      set $dest_host  "#REDIRECT#";
      return 302      "{{ redirect_config.url2 }}$request_uri";
    }
  }
{%- elif redirect_config.mode == "no_uri" %}
  server {
    listen      {{ redirect_config.listen_port }};
    server_name {{ redirect_config.host }};
    location / {
      set $full_url   "{{ redirect_config.url }}";
      set $dest_host  "#REDIRECT-DOMAIN#";
      return 302      "{{ redirect_config.url }}";
    }
  }
{%- elif redirect_config.mode == "hash" %}
  server {
    listen      {{ redirect_config.listen_port }};
    server_name {{ redirect_config.host }};
    location / {
      set           $full_url       "#REDIRECT-WITH-HASH#";
      set           $dest_host      "#REDIRECT-WITH-HASH#";
      add_header    Content-Type    text/html;
      return 200 '<html lang="en"><head><title>redirect</title></head><body><script type="text/javascript">window.location.href="{{ redirect_config.url2 }}" + location.pathname + location.search + location.hash;</script></body></html>';
    }
  }
{%- else %}
  # no support {{ redirect_config.mode }}
{%- endif %}
{%- endfor %}
  # REDIRECT END
}

stream {
  log_format proxy          '$remote_addr [$time_local] '
                            '$protocol $status $bytes_sent $bytes_received '
                            '$session_time -> $upstream_addr '
                            '$upstream_bytes_sent $upstream_bytes_received $upstream_connect_time';
  access_log                /dev/stdout proxy buffer=32k;
  open_log_file_cache       off;
  resolver                  {{ dns }} valid=60s ipv6=off;
  # STREAM START
{%- for stream in stream_config_list %}
  server {
    {% if stream.udp %}
    listen                  {{ stream.listen_port }} udp;
    {% else %}
    listen                  {{ stream.listen_port }};
    {% endif %}
    proxy_connect_timeout   {{ stream.connect_timeout | default(3) }}s;
    proxy_timeout           {{ stream.timeout | default(10) }}s;
    proxy_pass              {{ stream.host }}:{{ stream.port }};
  }
{% endfor -%}
  # STREAM END
}