open_log_file_cache     off;
resolver                {{ dns }} valid=60s ipv6=off;
log_format proxy        # default
{#                   #} '$remote_addr [$time_local] '
{#                   #} '$protocol $status $bytes_sent $bytes_received '
{#                   #} '$session_time -> $upstream_addr '
{#                   #} '$upstream_bytes_sent $upstream_bytes_received $upstream_connect_time';
access_log              /dev/stdout proxy buffer=32k;
{% include 'tunnel.jinja' %}
{% include 'stream_for.jinja' %}